@navy: #001F3F;
@blue: #0074D9;
@aqua: #7FDBFF;
@teal: #39CCCC;
@olive: #3D9970;
@green: #2ECC40;
@lime: #01FF70;
@yellow: #FFDC00;
@orange: #FF851B;
@red: #FF4136;
@maroon: #85144B;
@fuchsia: #F012BE;
@purple: #B10DC9;
@white: #FFFFFF;
@silver: #DDDDDD;
@gray: #AAAAAA;
@black: #111111;


.title {
  margin-top: 100px;

  &:nth-of-type(1) {margin-top: 10px;}
}

.container {
  display: inline-block;
  position: relative;
}

.click, .toggle {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: 20px;
}

.click {
  background-color: @red;
}

.toggle {
  background-color: @green;
  position: absolute;
  top: 0px;
  z-index: -1;

  transition: top 0.3s;

  &.gone {
    top: 100px;
  }
}